<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <!--boxicons-->
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <!--hoja de estilo-->
    <!--JQUERY-
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/_footer.css">
    <link rel="stylesheet" href="../css/chat.css">
    <link rel="stylesheet" href="../css/bienvenido.css">
    <!--JS-->
    <!-- ANIMATE.CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <script src="../js/chat.js"></script>
    <script src="../js/opinion.js"></script>
</head>

<style>
    .perfil-img {
        width: 25px;
        height: 25px
    }
</style>

<body>

    <div id="app">

        <div class="navbar-container">
            <div class="navbar-content">
                <a href=""><i class='bx bx-home bx-sm icono'></i>
                </a>
                <!--<img class="perfil-img" alt="" />
                -->
                <a href="../views/producto-login.html"><i class='bx bxs-cart-alt bx-sm icono'></i>
                </a>
                <a href="">
                    <span id="user" class="message" aria-expanded="false" class="text-white">.</span>
                </a>
                <a href="#" onclick="salir()">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400 bx-sm text-danger" id="btn-salir" onclick="salir()"></i>
                </a>
                <!--dropdown-toggle-->

            </div>
        </div>
    </div>
    </div>
    <header>
        <!--inicio sesion-->
        <section class="textos-header">
            <h1>SECURITY MASTERED</h1>
        </section>
        <!--fin sesion-->
        <section class="subtitle-header">

            <h2><i class='bx bxs-chevrons-down icon'>Deslizar hacia abajo</i></h2>
        </section>
    </header>

    <div class="principal">
        <div class="contenedor-principal container">
            <h4 class="text-center">Te ofrecemos</h4>
            <hr />
            <br />
            <div class="seccion-principal">
                <div class="col-4">
                    <i class="fas fa-shield-alt"></i>
                    <p>Seguridad para su hogar garantizada con mas de 5 años de experiencia en el mercado</p>
                </div>
                <div class="col-4">
                    <i class="fas fa-video"></i>
                    <p>Adquiere camaras individuales, sistemas de camaras, sistemas de alarmas</p>
                </div>
                <div class="col-4">
                    <i class="fas fa-sync"></i>
                    <p>Video vigilancia en todo momento, sincronizacion de camaras con dispositivos moviles</p>
                </div>
            </div>

            <div class="comprar">
                <h4 class="text-center">Empezar a comprar ya</h4>
                <br />
                <div class="text-center">
                    <a class="btn btn-warning compraOpcion" href="../views/producto-login.html">
                        <i class="fas fa-shopping-cart"></i> Ir a Tienda
                    </a>
                    <a class="btn btn-success compraOpcion" href="https://wa.me/593963776411" target="_blank">
              Comprar por
              <i class="fab fa-whatsapp"></i>
            </a>
                </div>
            </div>
            <h4 class="text-center">Servicios en general</h4>
            <hr />
            <br />
            <div class="slider">
                <div class="slider-img">
                    <ul>
                        <li>
                            <strong>
                  <p>Cerradura para camaras</p>
                </strong>
                            <img src="../img/servicio-1.jpg" alt />
                        </li>
                        <li>
                            <strong>
                  <p>Cercos electricos</p>
                </strong>
                            <img src="../img/servicio-2.jpg" alt />
                        </li>
                        <li>
                            <strong>
                  <p>Cerradura para camaras</p>
                </strong>
                            <img src="../img/servicio-1.jpg" alt />
                        </li>
                        <li>
                            <strong>
                  <p>Cercos electricos</p>
                </strong>
                            <img src="../img/servicio-2.jpg" alt />
                        </li>
                    </ul>
                </div>
                <div class="slider-frase">
                    <p>Somos su mejor opcion en servicios y seguridad para su hogar</p>
                </div>
            </div>

            <h4 class="text-center">Aprende con nosotros</h4>
            <hr />
            <div class="cursos">
                <div class="container curso-frase">
                    <p>
                        Inscribete para conocer las ofertas de nuestros cursos
                        <br />
                        <br />
                        <!--<a href="#" class="btn btn-primary">Inscribirse</a>-->
                    </p>
                </div>
                <div>
                    <img src="../img/cursos.jpg" alt />
                </div>
            </div>

            <h4 class="text-center">Tu opinion nos importa</h4>
            <hr />
            <div class="comentarios">
                <div class="comentarios-parrafo">
                    <p>Envia tus comentarios o sugerencias que nos ayuden a seguir siendo los mejores del mercado</p>
                </div>
                <div class="comentario-formulario">
                    <form action id="opinion" autocomplete="off">
                        <div>
                            <input type="text" placeholder="Email" id="correo" />
                        </div>
                        <div>
                            <textarea cols="30" rows="5" placeholder="Escribe aqui..." id="comentario"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-success btn-block" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>

            <h4 class="text-center">Trabajamos con el mejor proveedor de productos</h4>
            <hr />
            <div class="text-center">
                <img src="../img/proveedor.png" alt width="300px" height="" />
            </div>
        </div>
    </div>
    <!--services------------------------->
    <section class="services">
        <!--services-box---------->
        <div class="services-box ">
            <i class="fas fa-shipping-fast "></i>
            <span class="text-center">Envio</span>
            <p>Servicio a Domicilio</p>
        </div>
        <!--services-box---------->
        <div class="services-box ">
            <i class="fas fa-store"></i>
            <span class="text-center">Atencion:</span>
            <p>Lun-sab:09:00-19:00</p>

        </div>
        <!--services-box---------->
        <!--services-box---------->
        <div class="services-box ">
            <i class='bx bx-briefcase-alt'></i>
            <span class="text-center">Garantia</span>
            <p>En tus productos</p>
        </div>
    </section>
    <footer>
        <div class="container-3 ">
            <!--PIE DE PAGINA-->
            <div class="redes-sociales">
                <label>Redes sociales</label><br>
                <a href="https://www.facebook.com/SecuritMastered.ec/ " target="blank "><i class="fab fa-facebook "></i></a>
                <a href=" "><i class="fab fa-twitter "></i></a>
                <a href=" "><i class="fab fa-instagram "></i></a>
            </div>
            <div class="contactanos ">
                <label>Contactanos</label><br>
                <i class="fab fa-whatsapp "></i><span>0912345678</span><br>
            </div>
            <div class="pie-final ">
                <label>Security Master ® | Todos los derechos reservados</label>
            </div>
        </div>
    </footer>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>

    <!--<script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-firebase-firestore."></script>-->
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-storage.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>



    <script src="../js/conexion.js"></script>
    <!--<script src="../js/basedatos.js"></script>-->
    <script src="../js/bienvenido.js"></script>
    <script src="../js/salir.js"></script>


</body>

</html>